*{
    font-family: sans-serif;
}
.container {
    width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: lightgrey;
}
.input-1 {
    display: flex;
    flex-direction: column;
}
.input-1 input{
    padding: 7px;
    outline: none;
}

.multi-input-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.multi-input-1 input {
    padding: 5px;
    outline: none;
}
